/* COMBO BOX */
.model-ComboBoxA.combo-box .list-cell {
    -fx-background-color: #1D2B4F;
    -fx-font-size: 16px;
    -fx-text-fill: #fff;
}
.model-ComboBoxA.combo-box .arrow-button {
    -fx-background-color: #1D2B4F;
}
.model-ComboBoxA.combo-box .arrow {
    -fx-background-color: #fff;
}
.model-ComboBoxA.combo-box-popup .list-view .list-cell {
    -fx-background-color: #1D2B4F;
        -fx-font-size: 16px;
    -fx-text-fill: #fff;
}
.model-ComboBoxA .combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #5C7E93;
    -fx-text-fill: #fff;
}
.model-ComboBoxA .combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: #1D2B4F;
    -fx-text-fill: #fff;
}