/* ROOT-COLORS */
.root {
    /* BACKGROUND */
    -color-bg-main: #0E1838;
    -color-bg-secondary: #16244D;
    -color-bg-card: #24356B;
    -color-border-soft: #4960A8;
    -color-bg-control: #1D2B4F;
    -color-bg-button: #1D2B4F;
    /* GRADIENT */
    -color-gradient-start: #15265F;
    -color-gradient-middle: #9F81C0;
    /* PRIMARY ACTIONS */
    -color-primary: #8B7CFF;
    -color-primary-hover: #5C7E93;
    -color-secondary: #2E437E;
    -color-secondary-hover: #8645BE;
    /* ACCENTS */
    -color-accent-cold: #67D4FF;
    -color-accent-warm: #FFBFA3;
    -color-focus: #C6B6FF;
    /* TEXT */
    -color-text-main: #fff;
    -color-text-secondary: #D9E2F2;
    -color-text-muted: #AEBBD6;
    /* STATES */
    -color-success: #38D27A;
    -color-warning: #AE855D;
    -color-error: #F05D6C;
    /* ROOT STYLE */
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #153852, #153852, #5C7E93);
}
.bg-pane {
    -fx-background-image: url("../img/main_bg.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
}

/* BOXES */
#loginBox {
    -fx-border-color: #51A1D3;
    -fx-border-width: 3px;
    -fx-background-color:   #1B5B87;
    -fx-background-radius: 16px;
    -fx-border-radius: 16px;
}

/* TEXT_FIELD */
TextField, PasswordField {
  -fx-background-color: transparent;
  -fx-text-box-border: transparent;
  -fx-text-fill: -color-text-main;
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
  -fx-border-color: transparent transparent #fff transparent;
  -fx-border-width: 0 0 1px 0;
  -fx-prompt-text-fill:  -color-text-main;
  -fx-font-size: 18px;
}

/* BUTTONS */
.model-ButtonA {
    -fx-padding: 5px 15px 5px 15px;
    -fx-font-size: 18px;
    -fx-background-radius: 8px;
    -fx-font-weight: bold;
    -fx-text-fill: -color-text-main;
    -fx-background-color: -color-bg-button;
}
.model-ButtonB {
    -fx-padding: 5px 10px 5px 10px;
    -fx-font-size: 26px;
    -fx-background-radius: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: -color-text-main;
    -fx-background-color:-color-bg-button;
}
.model-ButtonA:hover, .model-ButtonB:hover {
    -fx-cursor: hand;
    -fx-background-color: -color-primary-hover;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0.4, 0 ,4)
}

/* IMG */
.image-functional:hover {
    -fx-opacity: 0.7;
    -fx-cursor: hand;
    -fx-background-color: -color-primary-hover;
}

/* LABELS */
.model-label-S {
    -fx-font-size: 18px;
    -fx-text-fill: -color-text-main;
    -fx-font-family: "Dubai Medium";
}
.model-label-M {
    -fx-font-size: 22px;
    -fx-text-fill: -color-text-main;
    -fx-font-family: "Dubai Medium";
}
.model-label-L {
    -fx-font-size: 34px;
    -fx-text-fill: -color-text-main;
    -fx-font-family: "Dubai Medium";
}
.feedback-label {
      -fx-font-size: 20px;
      -fx-text-fill:  -color-warning;
      -fx-font-family: "Dubai Medium";
}
/* COMBO BOX */
.model-ComboBoxA.combo-box .list-cell {
    -fx-background-color: #1D2B4F;
    -fx-font-size: 16px;
    -fx-text-fill: #fff;
}
.model-ComboBoxA.combo-box .arrow-button {
    -fx-background-color: #1D2B4F;
}
.model-ComboBoxA.combo-box .arrow {
    -fx-background-color: #fff;
}
.model-ComboBoxA.combo-box-popup .list-view .list-cell {
    -fx-background-color: #1D2B4F;
        -fx-font-size: 16px;
    -fx-text-fill: #fff;
}
.model-ComboBoxA .combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #5C7E93;
    -fx-text-fill: #fff;
}
.model-ComboBoxA .combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: #1D2B4F;
    -fx-text-fill: #fff;
}
/* TABLE */
/* data background */
.personalTable.table-view, #timeControlTable.table-view {
    -fx-background-color: #5C7E93;
    -fx-table-cell-border-color: #0C1416;
}
/* data text */
.personalTable .table-cell {
    -fx-alignment: center;
    -fx-text-fill: #fff;
    -fx-font-family: "Dubai Medium";
    -fx-font-size: 16px;
}
/* container data */
.personalTable .virtual-flow {
    -fx-background-color: #5C7E93;
}
/* header text */
.personalTable .column-header .label {
    -fx-alignment: center;
    -fx-text-fill: #fff;
    -fx-font-family: "Dubai Medium";
    -fx-font-size: 18px;
}
/* header background */
.personalTable .column-header-background {
    -fx-background-color: #153852;
}
.personalTable .column-header {
    -fx-background-color: transparent;
}
/* internal lines */
.personalTable .table-row-cell {
    -fx-background-color:transparent;
    -fx-border-color: #0C1416;
    -fx-table-cell-border-color: #0C1416;
}
/* external lines */
.personalTable .table-view {
    -fx-border-color: #51A1D3;
    -fx-border-width: 2px;
}
/*  background-scroll */
.personalTable .scroll-bar:vertical,
.personalTable .scroll-bar:horizontal {
    -fx-background-color: #153852;
}
/* 2. internal-scroll */
.personalTable .scroll-bar .thumb {
    -fx-background-color: #51A1D3;
    -fx-background-radius: 5px;
}
.personalTable .scroll-bar .thumb:hover {
    -fx-background-color: #5C7E93;
}
/* limits arrows */
.personalTable .scroll-bar .increment-button,
.personalTable .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 5px;
}
.personalTable .scroll-bar .increment-arrow,
.personalTable .scroll-bar .decrement-arrow {
    -fx-background-color: #fff;
}
/* corner */
.personalTable .corner {
    -fx-background-color: #153852;
}
/* corner hole upper-right */
.personalTable .column-header-background .filler {
    -fx-background-color: #153852;
}
.personalTable .show-hide-column-button {
    -fx-background-color: #153852;
}